
<br/><br/>



<div class="footer">
    <hr/>
    <div class="container">
        <div class="logo">
            <img src="images/logo1.png" width="150px">
        </div>
<div class="links">
     <div class="one link">
        <a href="/about">About</a>
        <a href="">Privacy</a>
     </div>
     <div class="two link">
        <a href="">Marketplace</a>
        <a href="">Contact</a>
     </div>
     <div class="three link">
        <a href="">Instagram</a>
        <a href="">faceBook</a>
     </div>
</div>

    </div>
</div>


</body>
</html>