<title>Power-Fly | Home</title>
<%- include("include/default-header.ejs") %>
  
<%- include("include/navbar.ejs") %>

 
<img src="images/r-circle.png" class="r-circle">
<div class="section mt-6">
    <div class="container">
        <div class="has-text-centered mt-6">
            <h1 class="is-size-1 has-text-white" >A new way to power your business</h1> <br/>
            <p class="has-text-white">Choose the exact source of your electricity. It's easy, less expensive,
                and supports <br/>clean energy development in your community</p>
                <br/><br/>

                <a href="">
                    <button class="button is-primary">Learn More</button>
                </a>
        </div>
    </div>
</div>
<img src="images/l-circle.png" class="l-circle">

<div class="section section-2">
    <div class="container">
        <h2 class="title has-text-white has-text-centered">Find a better energy solutions in just a few clicks</h3>
            <br/><br/><br/>

           <div class="boxes has-text-centered is-flex">
            <div class="box is-inline m-6 p-6 flex-wrap">
                <div class="no">01</div>
               <p class="is-size-4"> Start Saving</p>
              </div>
              <div class="box is-inline m-6 p-6 flex-wrap">
                <div class="no">02</div>
                <p class="is-size-4">Control Electricity</p>
              </div>
              <div class="box is-inline m-6">
                <div class="no">03</div>
                <p class="is-size-4">Check Temperature</p>
              </div>
           </div>

    </div>
</div>

 
<%- include('footer.ejs') -%>


