<%- include("include/default-header.ejs") %>
  
<%- include("include/navbar.ejs") %>


<div class="section user">
    <img src="images/r-circle.png" class="r-img">
    <div class="container">
        <h2 class="title has-text-white has-text-centered">Find a better energy solutions in just a few clicks</h3>
            <br/><br/><br/>
           
           <div class="boxes">
            <div class="box m-6 p-6">
               <center><p class="is-size-4">AI-ML Lab</p> </center><br/>
               <a href="/ai-ml-lab">
                <button class="button is-fullwidth is-success">Enter</button>
               </a>
              </div>
              <div class="box  m-6 p-6">
               <center> <p>CN-Lab</p></center> <br/>
                <a href="/cn-lab">
                 <button class="button is-fullwidth is-success">Enter</button>
                </a>
               </div>
               <div class="box  m-6 p-6">
               <center> <p>Big Data Lab</p></center> <br/>
                <a href="/big-data-lab">
                 <button class="button is-fullwidth is-success">Enter</button>
                </a>
               </div>
               <div class="box  m-6 p-6">
               <center> <p>IoT Lab</p></center> <br/>
                <a href="/iot-lab">
                 <button class="button is-fullwidth is-success">Enter</button>
                </a>
               </div>
           </div>
    </div>
    <img src="images/l-circle.png" class="l-img">
</div>


<%- include('footer.ejs') -%>