<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      <img src="images/logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
   
    <div class="navbar-end">
<div class="navbar-start">
  <a href="/about-us" class="navbar-item">
   About Us
  </a>

  <a href="/contact-us" class="navbar-item">
    Contact Us
   </a>
</div>

      <div class="navbar-item">
        <div class="buttons">
          <a href="/sign-in" class="button is-primary">
            <strong>Sign In</strong>
          </a>

        </div>
      </div>
    </div>
  </div>
</nav>